{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}

{% block body %}
    <h2>Page d'acceuil</h2>
    {% for article in articles %}
        <div class="card my-3">
            <div class="card-header">
                Publié le : {{article.createddate|date('d/m/Y')}} à {{article.createddate|date('H:i')}}
                Par : {{article.author}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.content}}</p>
                <a href="{{ path('article', {id: article.id}) }}" class="btn btn-dark text-white">Voir</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
